.header a {
    color: var(--white);
    text-decoration: none;
}

.header ul {
    list-style: none;
}

.header {
    top: 0;
    background-color: var(--black-1);
    --height: 50px;
    box-shadow: 0 0 3px 2px #000;
    margin: 0 0 2em 0;
    position: fixed;
}

.navbar {
    --height: 100%;
}

.title_container {
    flex: 1;
    padding: 0 2em;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.1rem;
    justify-content: center;
}

.title {
    color: var(--white);
}

.nav {
    flex: 2;
    --gap: 3em;
    padding: 0 2em;
    align-items: center;
    justify-content: flex-end;
}

.nav_items a {
    font-size: 1rem;
    transition: color 150ms ease-in-out 0s;
}

.nav_items a:hover {
    color: var(--blue-1);
}

.header.light {
    background-color: var(--white);
    box-shadow: 0 0 3px 2px var(--gray);
}

.header.light .title_container .title {
    color: #000;
}

.header.light .nav_items a {
    color: var(--blue-1);
}

.header.light .nav_items a:hover {
    color: #000;
}