.header a {
    color: var(--black-1);
    text-decoration: none;
}

.header ul {
    list-style: none;
}

.header {
    top: 0;
    background-color: var(--black-1);
    --height: 60px;
    box-shadow: 0 0 3px 2px #000;
    margin: 0 0 2em 0;
    position: fixed;
}

.navbar {
    --height: 100%;
}

.title_container {
    flex: 1;
    padding: 0 2em;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.1rem;
    justify-content: center;
}

.title {
    color: var(--white);
}

.nav {
    width: 100%;
    flex: 2;
    --gap: 2em;
    align-items: center;
    justify-content: flex-end;
}

.cart_div {
    padding: 0 4px;
    align-items: center;
}

.cart_div li a {
    background: var(--blue-2);
    padding: 1em 1em;
    border-radius: .3em;
}

.cart_div li span {
    color: var(--white);
}

.nav_items a {
    font-size: 1rem;
    transition: color 150ms ease-in-out 0s;
}

.nav_items a:hover {
    color: var(--blue-1);
}

.header.light {
    background-color: var(--white);
    box-shadow: 0 0 3px 2px var(--gray);
}

.header.light .title_container .title {
    color: #000;
}

.header.light .nav_items a {
    color: var(--blue-1);
}

.header.light .nav_items a:hover {
    color: #000;
}

.mobile_div {
    display: none;
}

@media screen and (max-width: 780px) {
    .navbar {
        position: relative;
    }

    .nav {
        
        transition: all 250ms ease-in-out 0s;
        right: 0;
        flex: 0;
        top: 60px;
        --gap: 8em;
        width: 100vw;
        height: 100vh;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        background: transparent;
        backdrop-filter: blur(1rem);
        padding: 0;

    }

    .nav:focus-within {
        backdrop-filter: 2rem;
        background-color: rgba(100%, 100%, 100%, 0.8);
    }

    .nav li input[type='text'] {
        width: 50vw;
        text-align: center;
    }

    .nav * {
        color: var(--blue-1);
        font-size: 1.7rem;
    }

    .cart_div {
        flex: 1;
        align-items: center;
        padding: 0 2em;
        justify-content: flex-end;
    }

    .cart_div li a {
        background: transparent;
    }
    .cart_div li span {
        color: var(--black-2);
    }

    .mobile_div {
        display: flex;
    }

    .mobile_btn {
        background: transparent;
        border: none;
        color: var(--black-2);
        font-size: 1.3rem;
    }
    .nav.true {
        transform: translateX(0%);
    }
    .nav.false {
        transform: translateX(100%);
    }
}